@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&family=Ubuntu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  font-family: "Lato", sans-serif;
}

.tour-package-wrapper {
  transition: transform 0.5s;
  margin: 10px auto;
}

.tour-package {
  background: url(../images/tour1.jpg) no-repeat center center;
  background-size: cover !important;
  height: 350px;
  width: 350px;
  border-radius: 30px;
  background-blend-mode: darken;
  background-color: #00000030;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.icon {
  height: 50px;
  width: 50px;
  background-color: red;
}

.tour-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  min-height: 15%;
  width: 350px;
}

.tour-card-body {
  padding: 20px 10px;
  min-height: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.tour-card-body-text {
  min-height: 11%;
  width: 350px;
  font-size: 17px;
  margin: 15px 0;
  color: #000000;
}

.tour-card-body-price {
  font-family: "Ubuntu", sans-serif;
}

.duration-wrapper {
  display: flex;
  align-items: center;
}

.duration-wrapper,
.timslot-wrapper {
  height: 50px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000030 !important;
}

.tour-card-footer {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text-heading {
  font-size: 19px;
  font-family: "Ubuntu", sans-serif;
}

.header-text-subHeading {
  font-size: 16px;
}

.text-white {
  color: #ffffff;
}

h5 {
  color: #6f6f6f9b;
  font: 700 1.125rem/1.5rem "Montserrat", sans-serif;
}

.tour-package-wrapper:hover {
  transform: scale(1.1);
}

.tour-package-details-middle {
  height: 160px;
  width: 100%;
}

.tour-package-middle-icon {
  width: auto;
  min-height: min-content;
  display: block;
  z-index: 0;
  filter: brightness(0) invert(1);
}

.tour-package-details {
  height: auto;
  width: 100%;
  gap: 10px;
  /* Adjust the gap value as needed */
}

.tour-package-details>* {
  margin-bottom: 10px;
  /* Adjust the margin value as needed */
  margin-top: 10px;
  /* Adjust the margin value as needed */
}

.tour-package-details .text-small {
  line-height: 1rem !important;
}

.tour-package-details-page {
  height: 100px;
  width: 100%;
}

/* .tour-package-end-section{
    height: 220px;
} */

.blur-bg {
  padding: 1px 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
}

.blur-bgV2 {
  padding: 1px 10px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
}

.text-grey {
  color: #7f8c8d;
  font-weight: 400;
}

.text-small {
  font-size: 12px;
}

.text-regular {
  font-size: 14px;
}

.text-medium {
  font-size: 16px;
}

.text-large {
  font-size: 18px;
}

#bookPackageOne {
  /* Your existing styles */
  display: inline-block;
  /* Ensures the hover styles apply correctly */
  transition: background-color 0.3s, color 0.3s;
  /* Smooth transition effect */
}

#bookPackageOne:hover {
  background-color: white;
  color: black;
}