
.tour-package {
  background: url(../images/tour1.jpg) no-repeat center center;
  background-size: cover !important;
  height: 500px;
  width: 300px;
  border-radius: 30px;
  margin: 10px auto;
  transition: transform 0.5s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}





h5 {
  color: #6f6f6f9b;
  font: 700 1.125rem/1.5rem "Montserrat", sans-serif;
}

.tour-package:hover {
  transform: scale(1.1);
}

.tour-package-details-middle {
  height: 160px;
  width: 100%;
}

.tour-package-middle-icon {
  width: auto;
  height: 50px;
  display: block;
  z-index: 0;
  filter: brightness(0) invert(1);
}

.tour-package-details {
  height: auto;
  width: 100%;
  gap: 10px; /* Adjust the gap value as needed */
}

.tour-package-details > * {
  margin-bottom: 10px; /* Adjust the margin value as needed */
  margin-top: 10px; /* Adjust the margin value as needed */
}

.tour-package-details .text-small {
  line-height: 1rem !important;
}

.tour-package-details-page {
  height: 80px;
  width: 100%;
  margin-bottom: 10px;
}

/* .tour-package-end-section{
    height: 220px;
} */

.blur-bg {
  padding: 1px 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
}

.blur-bgV2 {
  padding: 1px 10px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
}


.text-grey {
  color: #7f8c8d;
  font-weight: 400;
}

.text-small {
  font-size: 12px;
}
.text-regular {
  font-size: 14px;
}
.text-medium {
  font-size: 16px;
}
.text-large {
  font-size: 18px;
}

#bookPackageOne {
  /* Your existing styles */
  display: inline-block; /* Ensures the hover styles apply correctly */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
}

#bookPackageOne:hover {
  background-color: white;
  color: black;
}
